.main-content {
  padding: 2rem;
  color: white;
  background-color: #5a5a5a;
  min-height: calc(100vh - 72px); /* Assumindo navbar com 72px de altura */
  width: 100%;
  box-sizing: border-box;
}


.main-content h1 {
  font-family: fantasy;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.7rem;
  margin-bottom: 1.5rem;
}

.main-content label {
  font-size: larger;
  font-weight: bold;
  margin-right: 10px;
}

.main-content select {
  padding: 10px;
  border-radius: 5px;
  background-color: #444242;
  color: white;
  border: none;
  font-size: 1rem;
  margin-bottom: 2rem;
  margin-right: 5rem;
}

.dashboards-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(260px, 1fr));
  gap: 1.5rem;
}

.card {
  background-color: #262626;
  padding: 5px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-left: 2px solid #ff771b;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 0px 8px rgba(255, 106, 0, 0.25);
}

.card h3 {
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
  margin-left: 1.0rem;
  margin-right: 1.0rem;
  color: #ffffff;
}

.card p {
  font-size: 0.95rem;
  color: #ccc;
  margin-bottom: 1rem;
  flex-grow: 1;
}

.card button {
  align-self: center;
  background-color: #ff771b;
  color: white;
  border: none;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.card button:hover {
  background-color: #e55a00;
}

